//
//  Secrets.xcconfig
//  MaasApp
//
//  Created by mac on 6/11/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_TOKEN = eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJtYWFzIiwicHJpdmlsZWdlcyI6WyJDYXJkSW5mb3JtYXRpb25BY2Nlc3MiLCJSZWNoYXJnZUluZm9ybWF0aW9uQWNjZXNzIiwiUmVjaGFyZ2VDcmVhdGlvbkFjY2VzcyIsIlZTQU1SZWNoYXJnZXIiXSwiaXNzIjoicmJzYXMuY28iLCJjb21wYW55IjoiMTAwOCIsImV4cCI6MTc2MzQ3NTIwMSwiaWF0IjoxNzU4MjA0ODAxfQ.JSjxhto5B68HDRZsnA5uliDujEs1zyGJEfyn3cpEEu3VbY099hfhKwsJSXA93hFboQO0SO_8SYXPHmwmzjlUSDYb2OIZTiVOaVe5PXfxZeOpPrOcv_hwTtCumev0OGzWdloTShzw-PvfR3DmGpLM4WxJ5k_1yZ4j1SAKFdJeWTWSYbeH_M8NQDe6cv6rsEVOKRYu73EWoC2s7Ut7Wlf1rUz35Ljm6M_obLqAmOf35EQ7iCcmfBWjGO-BEFSi2BG2IxKYzMVXmtRxtcS5Yi-eoUxJ6nISNv6O7hRLRjgGpZhZoZWj4cqCF63SbgxAq_tzxLcJdvRSFT0cjkgHfITxSg
